<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Id="OneSevenLive.Obs17Live" Name="Obs17Live" Manufacturer="17Live Limited" Version="0.4.0.0">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://www.example.com/license" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
		<MsiPackage SourceFile="..\..\Obs17Live_Windows_x64_Installer\Obs17Live_Windows_x64_Installer\bin\x64\$(Configuration)\en-US\Obs17Live_Windows_x64_Installer.msi" />
    </Chain>

  </Bundle>
</Wix>
