<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
		<Directory Id="INSTALLFOLDER" Name="obs-studio\obs-plugins\64bit" />
		<Directory Id="DATAFOLDER" Name="obs-studio\data\obs-plugins\obs-17live" />
	</StandardDirectory>
  </Fragment>
</Wix>
