<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="DATAFOLDER">
            <Component Id="cmpH1caRiWg85GxUwbS9XlFol4qbcU" Guid="DD5C03F4-BC6E-4EA0-BB44-FA5146A9E352">
                <File Id="filz0JfNe6u6NGQrhZBIw8pK0HKD6A" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\meta_JP.json" />
            </Component>
            <Component Id="cmpPV3Wi603.D5KolZs_pNCSGs5UGg" Guid="326368D1-54A3-4D49-9052-A5D5681057CA">
                <File Id="filEwSQp9GBmFrLQWTI3F5S.Homj5s" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\meta_TW.json" />
            </Component>
            <Component Id="cmprLiKzBKfckJ2RGOvt_K5aOw1NS4" Guid="3FBF75DA-9A8B-4D0C-9615-2DDFBC484E52">
                <File Id="filsxlpOjfChCtgLIB9.hg4L1f.WO4" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\meta_US.json" />
            </Component>
            <Directory Id="dirnlgqwT2TZA9GsfZ3941Yv8aXbcw" Name="html">
                <Directory Id="dir_XwdzDxgnCjpBPQfonWShJer.YI" Name="chat">
                    <Component Id="cmpF6BdIRfgAfvL1qR6IxOjIql92pI" Guid="4E02665D-B440-4155-A677-71BBC765E58D">
                        <File Id="filCylj7RlvAjTiUQTNfio18yK6XlE" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\404.html" />
                    </Component>
                    <Component Id="cmp5tlJGApSy2i5SayOxBEtGrkrtZM" Guid="57F17CB7-7654-470E-9F6D-4AF59916EA92">
                        <File Id="fil7Xq0dHKGlUsJVMBg2YJ3lQRtOyA" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\en.html" />
                    </Component>
                    <Component Id="cmpRR9fWgfggbn2aW3elIWeSJK0eYY" Guid="55D834FD-C549-4B30-BE94-9BCDEBB7AEDC">
                        <File Id="filTnhhI3J5_MIAOAe.SEraaqOwi7o" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\en.txt" />
                    </Component>
                    <Component Id="cmpznDi3mSTyIPYeRlwZzCLYcPsqh8" Guid="44F0BECB-890C-48EA-8930-1E89628A32B5">
                        <File Id="fil7JzvSLeC5dBJF3hCgwtNKWeJWHs" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\ja.html" />
                    </Component>
                    <Component Id="cmpuqZW1j3KMpkEX9UTISZfCy8ik0o" Guid="3EEA4128-0342-4F9B-9BA2-89593B346451">
                        <File Id="filTX1DdfrBlkJRwpqmKMkMHeS4QHw" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\ja.txt" />
                    </Component>
                    <Component Id="cmpVrcrdSCted4END_nN8HyhMZUCes" Guid="BA437AD5-9CAC-428E-B523-651D1BFB4B45">
                        <File Id="filGIS3G_3.tsoPXQDPysoWwLtF8oo" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\zh.html" />
                    </Component>
                    <Component Id="cmpCXiU4bctsFuGb7fC5TZH4sPNVxM" Guid="9DA0F49F-800C-47E4-A042-ADB59ACC20AA">
                        <File Id="filabZ11Hj.FY3UqkVa9pSx3QXpxlw" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\zh.txt" />
                    </Component>
                    <Directory Id="dir1TVHjNQ_jgscSO1Ogr8ycb2xQGY" Name="images">
                        <Component Id="cmppr1GSzDeoSuEkGIH9e7B1jR9BsQ" Guid="F3FC5585-3D45-40B3-902B-B735E4ABB9D2">
                            <File Id="filkbYjXfCYdlxiULzlq7wPjTFghrE" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\images\ig_AIBaby_background.svg" />
                        </Component>
                    </Directory>
                    <Directory Id="dirhHknBwaHquxM5S0yowphAIn4WtI" Name="_next">
                        <Directory Id="dirsOEtPI33m7aVvnzKcIFjOuh8hIA" Name="static">
                            <Directory Id="diroK83R9SJIwtstNdMGexUp8YZrZg" Name="chunks">
                                <Component Id="cmpqntViF_ZY9bWwRLnupGS9V6w9Mk" Guid="F335FC35-9250-461B-B891-F59CAF6CB0AB">
                                    <File Id="filmxrsW7TosMHGaNGN0HZKZ22Kb14" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\122.8695147541cbf54a.js" />
                                </Component>
                                <Component Id="cmpin88.u4QQH3CFFFP0mPbLkMmTKQ" Guid="CB544BF9-6AF5-454F-BA71-4D06F8C64B49">
                                    <File Id="fil8XKlLsze0eGEhkV0dQNhsoYsHIg" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\136.3b3b725b5513b762.js" />
                                </Component>
                                <Component Id="cmpNBAWRgcmtD8v.LfGiGDfDKGKAZU" Guid="49510334-200E-4461-9572-18281403062B">
                                    <File Id="fil..hhkns757eesLzHp9Lr1Dan6Zo" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\142.9e73e7e1beb4f0af.js" />
                                </Component>
                                <Component Id="cmpYDPiPpytUPyJ9TvQ9atB20QU6kE" Guid="D7A17D6B-F045-4821-8821-2CAB01D9461A">
                                    <File Id="filXsp4AygiWbi_v_l9vecbvjG3RS8" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\148.cc5e1ee9f1cd168b.js" />
                                </Component>
                                <Component Id="cmputkwfhm0SGaxJ6ebfk0BCUOESkg" Guid="19EC0900-7E41-44C9-BC15-51D4C93510BD">
                                    <File Id="filv.W1ZfcXNogBYRdAGoivWGQUBkM" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\184.e8d987729de1f48f.js" />
                                </Component>
                                <Component Id="cmpFONypZJds2MtEhL760J7hopU6W8" Guid="F14F9E11-7C49-4569-99E4-C594A6D94BF2">
                                    <File Id="filSIGX29_U6zpuvwQnlMAcySALgng" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\240.34a6edd38ec08063.js" />
                                </Component>
                                <Component Id="cmpiKZpA8HCgJo_yQXKt1AFCudt4sI" Guid="DD2972DE-EBDA-4C6B-8427-F83B4CF7C046">
                                    <File Id="filGW3OLCxr8u9c0zxUtIm1ZbFeBrk" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\269.c8c9817732b3351b.js" />
                                </Component>
                                <Component Id="cmpbNDzVvS.cFRXG2AY81fAO2mq1BQ" Guid="A1B6C22E-FCFF-43FD-9393-7771CA5ECA13">
                                    <File Id="fildbBQoSmXagxGQBLnonHOnlHoua8" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\290.4ab5e5f583d7e977.js" />
                                </Component>
                                <Component Id="cmp2bLTazHT0V_zHfYSumbiePBJkGM" Guid="B5F94044-5452-414F-A26D-FF049FCE75C4">
                                    <File Id="filxUS2pypwDG_c_9m025IADjSes5w" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\335.c1eff0412c274ec7.js" />
                                </Component>
                                <Component Id="cmphE.2.gIJzpOLnPznTjKylmpDD2U" Guid="0610657E-C38A-4DB0-BEFD-F1171B87F26B">
                                    <File Id="filrTD5fX8DUOBd_LMj._6QBmhm85w" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\341.df3329d77a5faa19.js" />
                                </Component>
                                <Component Id="cmphtlAgmWYsm.TIPpailYfa52kfzc" Guid="2C9EA64F-3015-4DA4-A5EE-FA0BD5A8C33F">
                                    <File Id="filLMWtBlLKA0pLrIkMeH6vnRKqNns" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\39.b5b5d67dd8e8c25d.js" />
                                </Component>
                                <Component Id="cmpI6D_M0NFIqCN4TRVUeICMSKdXQo" Guid="C844C803-0FE0-4974-B29C-7D096013D78E">
                                    <File Id="filSxWhkZ3SRiV5Tkjmu2FvHOqvh1Y" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\472.a3826d29d6854395.js" />
                                </Component>
                                <Component Id="cmpkXySdFs0OaAS6aXP7aH742ZAk_s" Guid="BC9B585D-0290-4BE3-9C9F-B69058655F93">
                                    <File Id="filEA2psy0SpI1BHS9.NSZktnMc1V0" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\475.0ce50b36f7d72f37.js" />
                                </Component>
                                <Component Id="cmpEWxd4UqNOQCrdXtH4sES8w3gIU0" Guid="331CA0AC-C940-4848-B242-90FE3729A770">
                                    <File Id="fil.DESPyJ2AIGBU3tIRU2r8dWQuUY" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\4bd1b696-70920878d6d745e2.js" />
                                </Component>
                                <Component Id="cmpx2IMqj_ouPkVb9Xwy1zi.78v_Gk" Guid="47A4B5B4-2107-45C3-AC61-CDECB877B115">
                                    <File Id="filQXxkQRP29ai3Qm71X_E3IT6vNds" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\524.5b79051fdac01c85.js" />
                                </Component>
                                <Component Id="cmpKqjwKz7l_p5CeZijq50o509DE6M" Guid="7CBFDC45-F14E-4BFF-B989-FA9C5580D561">
                                    <File Id="fil8Y5X7qP4uEz2SehjE0dAy.empRw" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\566.f4fc3fdaea6fed29.js" />
                                </Component>
                                <Component Id="cmpngA8wgVDozwF0AWNtkALalq0QsE" Guid="8B70CBA1-6D80-43D1-9058-4FD6560784B0">
                                    <File Id="filJLjw0Ac3szCaDYcMlk36dcmUMko" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\571.f5f2273e74bf7758.js" />
                                </Component>
                                <Component Id="cmpZt5H41TiTZ5sCcjnwDGtYR3D0ng" Guid="D7285649-04F8-4E7C-8BDC-61A15B443130">
                                    <File Id="filq06etGYuMkCvbSt_wjAXkAbeqao" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\579.fc47d9d9bf551f2d.js" />
                                </Component>
                                <Component Id="cmpz0dxYB8Ui7E58hKb8jJHqaYZ9ds" Guid="5FB797E0-632C-4497-8DEA-12B579C5566D">
                                    <File Id="fil_Znx3GA3lBkCQXqDYpAjpsN5XfI" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\633.11ae6586fd074f3a.js" />
                                </Component>
                                <Component Id="cmpCNrybvYcZyg9biOwDNCsOvTeJH8" Guid="FBC5808B-E875-4DFB-9DA9-EDD1623CE704">
                                    <File Id="filrt70AU2pJAwZTw7GL3inGc.clKo" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\653.c5bcbfb268851a48.js" />
                                </Component>
                                <Component Id="cmptdSYIkYNnp6Old1cUOra_lD1e.Q" Guid="C884C784-57AD-4DC6-94CF-DAC47EF4F5BB">
                                    <File Id="filjoZnJwvQp0MnnSiaCIK9CmgxrZc" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\684-ac517d3f287680f3.js" />
                                </Component>
                                <Component Id="cmpfOXByGYq_.JVcWERO6aPhwuYKOM" Guid="F020C0D4-1A31-4B6E-B177-6E17645D173C">
                                    <File Id="filt4lp6kDvEdxfMG7SjOWedGIsbDU" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\716.ccb71df9bf653540.js" />
                                </Component>
                                <Component Id="cmprokniBsdRNaegQJeh6oJOesiikc" Guid="CA39A07E-45C5-4E09-B8CD-DB3C03B1E541">
                                    <File Id="filaihvKAodkheXiKJI_Qw1rLA0zT4" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\745-33fac667cd4b6cbd.js" />
                                </Component>
                                <Component Id="cmpG4XzxApqwg3L6GFqFg6GYqe5j80" Guid="E511CF68-6FE4-45B2-975F-FE63A5297EE9">
                                    <File Id="filwqyV0E_zcmlSaAjx0xexYiU5EX0" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\80.931553ab0bd82943.js" />
                                </Component>
                                <Component Id="cmp2TxOD6_crKjaue9eth.o6lVI2ys" Guid="6401D1B5-621E-4E0B-981D-4C5F57D20C34">
                                    <File Id="filJBIM3_mjqxd6bb.uysp_MMmGaBc" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\826.cd970a3ffbd89326.js" />
                                </Component>
                                <Component Id="cmpx7qZassHyg300R6V.mnxv2V__6I" Guid="D3FB27FE-F4FC-42AF-92E6-11F88BAE6885">
                                    <File Id="fil4qQGI2M0sNx4bTPmQme2B1dw.og" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\841.ad43e5e3964407b2.js" />
                                </Component>
                                <Component Id="cmpNPLoTkoXBKckMNBz7cUnH90WtOY" Guid="45257FF0-000C-45FD-A65D-37517A58DC13">
                                    <File Id="fil9LwjsJrXR4wSXu9p8ugN.7_p1t4" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\849.adb5a5d9a47de711.js" />
                                </Component>
                                <Component Id="cmp.ihjyl8JD1V2ALI_vOPVJ.Vj15I" Guid="23B4AF6E-39A1-4322-95B5-23E3EBD67839">
                                    <File Id="filbiZbVHOVap1GZGV54g8nogw73UY" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\861.9463816cd04b2e15.js" />
                                </Component>
                                <Component Id="cmpxC8w8WxwlUlGLKbl_9yUBvCH1ss" Guid="0F6BB50E-8085-45A1-8BD4-C00C607C233D">
                                    <File Id="filOMNtEcoKkizUaQFRK3Vc89I7bJQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\898.adbf6855cfa5338e.js" />
                                </Component>
                                <Component Id="cmplrBlfCcb5pRv9HzL72aIqOGztMQ" Guid="60C953AC-98F5-494D-8361-BCFEF0983A8F">
                                    <File Id="fild3aXIfOC7bbi3hVRgbc0XXG5kms" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\943.d0966dd47890f9b7.js" />
                                </Component>
                                <Component Id="cmp0IvXAyp1txnEOOr5nKhj1k446kg" Guid="F3D1BD0B-884B-45BF-99BB-BFDE912E90DA">
                                    <File Id="filppTFBM0nwi_TUgzg6gVGVZ_Qsuo" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\96-739ba8cb410f0333.js" />
                                </Component>
                                <Component Id="cmpNwZIMXix4J4aOzeu89XtUH5ykgE" Guid="96626FE7-D928-4804-8853-7D0FD282058D">
                                    <File Id="filGy7m.oLHSo.nSwT6NdVoPshELZQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\967.e040a6f711a526d4.js" />
                                </Component>
                                <Component Id="cmps6FgSoOmCUq4DlgVDuNiAPWAf9E" Guid="F9B6A85A-9362-4BAD-8409-D252CE39AFF9">
                                    <File Id="filFY1IzNha8lcU22IU5rD4TuO1GPE" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\f6d0a8ec-6458b7e92ca6364d.js" />
                                </Component>
                                <Component Id="cmpm5mD6CsoPm494fN2z1rWz10bQUQ" Guid="F1694123-3102-4F48-9763-1FD62C0F6A10">
                                    <File Id="fil8zuL9EbRdK.BrvXuDsF0qtcAzXA" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\framework-f593a28cde54158e.js" />
                                </Component>
                                <Component Id="cmpa3vNXtEUnvGAoeFmbp0RLUfD.QA" Guid="DBE041AC-0221-4CFD-B3C4-686C20F20F42">
                                    <File Id="filIcQIK_l.g3orWuzfKoMl8qwnnhU" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\main-0945b6f18dba43f4.js" />
                                </Component>
                                <Component Id="cmpQ2FWUvCYL1Hfh5v.k06oPQjV4ic" Guid="D729FA19-DF48-4851-B675-2F40CF5A8C77">
                                    <File Id="fil65p55MaY.wpEmGNAXmFG1rUxkcQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\main-app-d36cc093648ac647.js" />
                                </Component>
                                <Component Id="cmpw5ijXL59v.uWD6zrlVlM17UlBtg" Guid="D52B273B-D8FA-40D5-BF92-020C2EED3D09">
                                    <File Id="filTyDO2pDX0gir2JYTY9QPWx8glmI" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\polyfills-42372ed130431b0a.js" />
                                </Component>
                                <Component Id="cmpYgutUUS04Eiuv9Xym._xq5vYHZw" Guid="2290CBE8-A851-4446-B980-3F390986FBDA">
                                    <File Id="fil37U8cYdovUZnXepGiBbBm9do4Ls" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\webpack-bb50ce9e5e789d5a.js" />
                                </Component>
                                <Directory Id="dir3wHo3_f5g3efGyosekpHIjykows" Name="app">
                                    <Directory Id="dirVey1aa8Ev2AnZrlbzThPg7bpai8" Name="[locale]">
                                        <Component Id="cmpsHf690kr9_s_PeD_3sTQmQcu2Ko" Guid="3F235D25-6686-4E2D-B4A2-FFD7E24271CC">
                                            <File Id="filjyV4JNOlkybvMGj6diXQtVH3U7M" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\app\[locale]\layout-d6312016d83ce343.js" />
                                        </Component>
                                        <Component Id="cmphHDXCcIGJsEng1zHpyO9wyHCsKE" Guid="238DD05B-71B5-4245-BF85-C7D48BEF2D14">
                                            <File Id="filx7C5JbDfa4c3reXb3Ql4kFy.Kgw" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\app\[locale]\page-e81d344f2337fab1.js" />
                                        </Component>
                                    </Directory>
                                    <Directory Id="dirajlOklctmegz0j6WCmo0mRFR2Z8" Name="_not-found">
                                        <Component Id="cmpwcI4nl6rKxvS5ulKFdhic7t31KQ" Guid="AFAFD27B-C2BD-43F8-8FAE-992C3E9833DD">
                                            <File Id="filqvt5zXZFWuSPWSnKnGu3MnLdO6M" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\app\_not-found\page-29aac20e2378fa54.js" />
                                        </Component>
                                    </Directory>
                                </Directory>
                                <Directory Id="dir9A4j8Gqya1D8GwLqcBJnGshbrms" Name="pages">
                                    <Component Id="cmpXiCd8qts1Wvs6oKtylR_4Zs1SSA" Guid="92B0F097-EFC1-4A43-955F-2F0167EFB7F2">
                                        <File Id="filGqogUtjq4bFlW7hjx19.xsQXG3E" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\pages\_app-92f2aae776f86b9c.js" />
                                    </Component>
                                    <Component Id="cmpB307gXPij0c11cKPVVHiAnnVGc0" Guid="C1D904F0-482F-4C21-994E-24047DFBFE96">
                                        <File Id="filIcZhteNhVEgSVxmi4BTkpS1yXAc" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\chunks\pages\_error-71d2b6a7b832d02a.js" />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id="dirGoBwSL9ssNdvDSmE8c10nFRsieA" Name="IrfG2wDcTjvOWrZJY_av-">
                                <Component Id="cmpEaPjAczRhgSpbAIvQsZ8BtFhSpM" Guid="A27FC2E3-4C81-41C9-A84C-5F4CE6803A90">
                                    <File Id="filGZojWowBxsI3nM93ilkaAYZH8EM" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\IrfG2wDcTjvOWrZJY_av-\_buildManifest.js" />
                                </Component>
                                <Component Id="cmpsVaCMHGE.10RepHKgA8agIk6ZA4" Guid="86150527-800C-4473-A734-F91163966A52">
                                    <File Id="filh1djm85lHIMolS7lEwF6vn3J7Qg" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\IrfG2wDcTjvOWrZJY_av-\_ssgManifest.js" />
                                </Component>
                            </Directory>
                            <Directory Id="dirc141ZyXhIXp12lqvJXZPKwB74UU" Name="media">
                                <Component Id="cmprBuODXWh_PjZrt.rZONsyHGy3hA" Guid="49E38290-0FF1-44EB-8DAF-EF7575B4572A">
                                    <File Id="filyuMs5f_R41912Fqjya.18T_jk7o" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-bdg-subs-m.3e8146ae.svg" />
                                </Component>
                                <Component Id="cmpmMpq7R1oOf.Ese7T94ii63wHTug" Guid="5F91F572-56DE-4ADC-9EAB-0046B340B8B0">
                                    <File Id="filZLxW5.Kmf601RIOFyhSPNvtOMu0" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-01.a66d9244.svg" />
                                </Component>
                                <Component Id="cmpiqk2zpxKrhmfxI53f6_ylynh0Hk" Guid="1B9C6FF9-A469-4D35-B3DB-E48F2AB30E21">
                                    <File Id="fil77a0Y5MF0e9VrUMUFAA5gMufGRY" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-02.4f2cafe5.svg" />
                                </Component>
                                <Component Id="cmpiY0RHiZunenjcF0u.yXs8b41Whg" Guid="8E5DD7BC-7A0A-4703-BD59-0A48C131BEE7">
                                    <File Id="filbt4ZKt7kkNKfASSagGZXjFrLOvw" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-03.70f2b455.svg" />
                                </Component>
                                <Component Id="cmp_dd_MQoB5V3sWbYgd.NpaAnTacY" Guid="E0A8B349-F3C4-4F1C-B33F-6FEE0A76E04A">
                                    <File Id="filTFK_q7gX8VHIFyyJynoNLJuSvWM" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-04.3130804a.svg" />
                                </Component>
                                <Component Id="cmp8UDhX6DXFAlLxYb8qzuJqLPm5.Y" Guid="2DB30DAF-0609-47C7-AC2F-F2765244DDFA">
                                    <File Id="fildb49dhDUpNAAec4iLaq3NQQ4qDU" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-05.aa15dec8.svg" />
                                </Component>
                                <Component Id="cmpVIxPauuURAi.tsN1AyzJ8sTtkVo" Guid="8D33B07D-2DC5-495D-8961-5F6596A208B4">
                                    <File Id="filLtOqJKGNlWcGdKxMdf0REUFrP98" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-06.bde76389.svg" />
                                </Component>
                                <Component Id="cmpDB68.BYLzb8H.aqHtaoPwcUImig" Guid="7C409BB4-8FD7-41EA-A0C5-AC8F8F5CF659">
                                    <File Id="filoUvyfgEfhRmgLjYtciKTzzDT7Hs" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-07.d429d412.svg" />
                                </Component>
                                <Component Id="cmp.eW.aggtKOxO1lUFJfvIqrQvyjU" Guid="9E62E54A-960C-4162-BA43-97B15D8DD57C">
                                    <File Id="fil2anvuwtpFNM9fc8RNrHjidmlIoM" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-08.0cd997a9.svg" />
                                </Component>
                                <Component Id="cmpvQsoUtMvgnkHFw3YYP6Dl.EdKNE" Guid="5D0094A0-241C-4559-8C10-D66F28C5BF3C">
                                    <File Id="filryhSlPkEm1BqZAJS_P3oX0CibJg" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-09.8922b420.svg" />
                                </Component>
                                <Component Id="cmpBl1QbNgIfiM2XvlQM7oVhLEC2mk" Guid="81A14490-3A4E-47B7-912E-8C202338176B">
                                    <File Id="filM.noarzot__mvl4d6AzqhbfBbZk" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-10.3423c534.svg" />
                                </Component>
                                <Component Id="cmp2AOGgzY0o.62GESTlN00WeqU334" Guid="F13D4376-9378-4F7F-95CD-B44F1C6FB8E2">
                                    <File Id="filfzhv8jz_mrQyQqpTMQPxEWPom94" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-12.0f7ef918.svg" />
                                </Component>
                                <Component Id="cmpA3oYDi4yoqqRK._B..35XkEZ5zI" Guid="BDC63149-85EF-4FB5-BAAF-CFE3CB50A553">
                                    <File Id="filbMw9rBfCSW46PDZ3n.5ocQEiLyQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-13.866f77f9.svg" />
                                </Component>
                                <Component Id="cmpqiIJin_oQp2JUiTxfkUAEe2Gz4M" Guid="A8A83AF0-4F81-471C-ADA3-B0A90F240ADF">
                                    <File Id="filtKSEl1coMXoUbogXdU3SS1MXwHI" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-14.7025701e.svg" />
                                </Component>
                                <Component Id="cmpBWG8KQ8RNeGepsTbWVCRu6Sxbxc" Guid="326C3FA0-676B-4B26-B3F0-F0AC783562ED">
                                    <File Id="filEyhJ1ktYML36JN_FPVlDjPYcOaQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-15.22ee742c.svg" />
                                </Component>
                                <Component Id="cmpYW0sHtLaQ.nYAr30nXPaUZcOy8I" Guid="89FCE98A-4957-403A-B5D7-FBAE8CD51ECC">
                                    <File Id="fil7riXsq0tqWCxeqyw9hx.IQlI27g" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-16.bf764d0a.svg" />
                                </Component>
                                <Component Id="cmpwnxpghLFNol9oSjfsYpFnj59DpQ" Guid="F23F1F16-FC96-4422-AD85-5171160FACE8">
                                    <File Id="filbSH41maJN.VtZ9T0fTMs.9whyhQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-17.e4bd7565.svg" />
                                </Component>
                                <Component Id="cmpYVbDUhx6MZAzqIAQfekBKFwdJXw" Guid="BF05FBCF-4256-4D2B-B476-E19F4301B7AE">
                                    <File Id="filmNkWZ3L1E6uVnI79g6396Omy0ZY" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-18.7be28b3f.svg" />
                                </Component>
                                <Component Id="cmpmJsD.EvomrU5UJPRVFjgqrFXoqM" Guid="6E7CAF9B-9C94-4BC3-B0AB-3D7DBF974B0B">
                                    <File Id="filtnthlPwRNsJGbRrYLcfqKeyBYmM" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-19.5b7290d1.svg" />
                                </Component>
                                <Component Id="cmpVCYpSMFhSwZSAHoztYSAHixfJ8g" Guid="73E635E5-AB78-4FCD-9A35-D65CADCC7955">
                                    <File Id="fil4FcYf6giZP2NEb2h_PNo9FEuLok" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-20.450ff26f.svg" />
                                </Component>
                                <Component Id="cmpUEVtVP3lD5xyJuQjIPpX.rsenjs" Guid="30FF93E1-5DC0-49E3-9093-6390212CD744">
                                    <File Id="fil6oBgd9KuHceHXAAIJL2EGqze5.s" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-22.d5cc417c.svg" />
                                </Component>
                                <Component Id="cmpS3nxYiEVMgTf4T3aH.hJpS4DHVc" Guid="275EDAB7-5964-4FC5-B0A9-0A6D537A8EF1">
                                    <File Id="filvyAV.PqcKC4e.HauLrjPM5nOTds" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-23.ea8a7448.svg" />
                                </Component>
                                <Component Id="cmpNwYSqeFPF3wNGBp422kXBIj120k" Guid="30951042-3E28-48E5-B85F-AB548E1D8F8C">
                                    <File Id="filOTbZRcg3HtPBjhcKwXew7Z8r1rI" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-24.f45e1f3d.svg" />
                                </Component>
                                <Component Id="cmpKPp2o3K_AxTa2uTO76o09pzLkj8" Guid="61AE8388-F3A8-4303-ACCF-4D967E84EB40">
                                    <File Id="fil_Lx7g53TOb.DyVucmG1ye4fCO_Q" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-25.5fca747f.svg" />
                                </Component>
                                <Component Id="cmpwWfsqLant9xtyGhqrGSgJf3GN8w" Guid="4075655A-F125-48E0-88C2-131A298F6F15">
                                    <File Id="fil1lIcPu_kQp70HtbsfxSzqNiLhko" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-26.8306ea3d.svg" />
                                </Component>
                                <Component Id="cmp0l0V5bGvG2kWO8bHh6Gq9CyOVKE" Guid="43AA3E2F-9397-4DC8-AECB-A01D4ACB4A26">
                                    <File Id="fila5Hz92TR7Y5MieVhXBEkcFKxQd4" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-27.82938534.svg" />
                                </Component>
                                <Component Id="cmpQ1KwJXG6GxRIJ_UGUMOh.z1dITg" Guid="4BFA6C74-4A87-4FD9-BE3F-97C34C2E94F6">
                                    <File Id="filY3vRAMozzMqZMdPKs.s9EJyi7ao" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-28.e1ef6f43.svg" />
                                </Component>
                                <Component Id="cmpGx9udB_mc1uhQzTVC1QvyWdcuZk" Guid="6EC27245-3D4F-4F8B-A012-D48CA5749B42">
                                    <File Id="filSETtqenMfmn782kJT6qORDHh0Uc" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-lv-default.71f79125.svg" />
                                </Component>
                                <Component Id="cmpfCMM4x2IuV8CHCw6bTJ2KK4QE_U" Guid="541B4DAF-EBF3-489E-B668-686C9DF42ED1">
                                    <File Id="filMUpmqMhDY9zWu3SAbZa.KEIqf5g" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\html\chat\_next\static\media\ic-msg-guardian.b6284d25.svg" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="diroafhly1ciS9WV5tlcb5nkU399gw" Name="locale">
                <Component Id="cmpGfbbuPTcI6xvUV5P95fGKDOuUVc" Guid="540AA3B1-EB0E-42D5-92A9-40AE455E2AC6">
                    <File Id="filIuCXwttcWNgw0ruP1l4DhQqRpDg" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\locale\en-US.ini" />
                </Component>
                <Component Id="cmp1DJWnmZgJRwPGYZ1lls5N4y29pk" Guid="06046BDA-AD74-4D2A-8EB7-6ED80207B3D6">
                    <File Id="fil5cvShpZ43pJafNqoE3bJFF7gYFg" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\locale\ja-JP.ini" />
                </Component>
                <Component Id="cmpdthXrXRiAa_1ADL_WWRkWgwySZg" Guid="A7CED891-63F3-42FE-9BC2-E4FE167A111F">
                    <File Id="filLZbvjLNYmKSfC_j5x7F5sQd7VzQ" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\locale\zh-CN.ini" />
                </Component>
                <Component Id="cmpe4tZZzl7nplXvID2j37meXEu0yA" Guid="EA9A23E0-4E29-443D-8544-38C28A671205">
                    <File Id="filtd7Jl2yxvs3zOjexchILgRhO328" KeyPath="yes" Source="C:\Users\apple\yzz\obs-17live\data\locale\zh-TW.ini" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Obs17livePluginData">
            <ComponentRef Id="cmpH1caRiWg85GxUwbS9XlFol4qbcU" />
            <ComponentRef Id="cmpPV3Wi603.D5KolZs_pNCSGs5UGg" />
            <ComponentRef Id="cmprLiKzBKfckJ2RGOvt_K5aOw1NS4" />
            <ComponentRef Id="cmpF6BdIRfgAfvL1qR6IxOjIql92pI" />
            <ComponentRef Id="cmp5tlJGApSy2i5SayOxBEtGrkrtZM" />
            <ComponentRef Id="cmpRR9fWgfggbn2aW3elIWeSJK0eYY" />
            <ComponentRef Id="cmpznDi3mSTyIPYeRlwZzCLYcPsqh8" />
            <ComponentRef Id="cmpuqZW1j3KMpkEX9UTISZfCy8ik0o" />
            <ComponentRef Id="cmpVrcrdSCted4END_nN8HyhMZUCes" />
            <ComponentRef Id="cmpCXiU4bctsFuGb7fC5TZH4sPNVxM" />
            <ComponentRef Id="cmppr1GSzDeoSuEkGIH9e7B1jR9BsQ" />
            <ComponentRef Id="cmpqntViF_ZY9bWwRLnupGS9V6w9Mk" />
            <ComponentRef Id="cmpin88.u4QQH3CFFFP0mPbLkMmTKQ" />
            <ComponentRef Id="cmpNBAWRgcmtD8v.LfGiGDfDKGKAZU" />
            <ComponentRef Id="cmpYDPiPpytUPyJ9TvQ9atB20QU6kE" />
            <ComponentRef Id="cmputkwfhm0SGaxJ6ebfk0BCUOESkg" />
            <ComponentRef Id="cmpFONypZJds2MtEhL760J7hopU6W8" />
            <ComponentRef Id="cmpiKZpA8HCgJo_yQXKt1AFCudt4sI" />
            <ComponentRef Id="cmpbNDzVvS.cFRXG2AY81fAO2mq1BQ" />
            <ComponentRef Id="cmp2bLTazHT0V_zHfYSumbiePBJkGM" />
            <ComponentRef Id="cmphE.2.gIJzpOLnPznTjKylmpDD2U" />
            <ComponentRef Id="cmphtlAgmWYsm.TIPpailYfa52kfzc" />
            <ComponentRef Id="cmpI6D_M0NFIqCN4TRVUeICMSKdXQo" />
            <ComponentRef Id="cmpkXySdFs0OaAS6aXP7aH742ZAk_s" />
            <ComponentRef Id="cmpEWxd4UqNOQCrdXtH4sES8w3gIU0" />
            <ComponentRef Id="cmpx2IMqj_ouPkVb9Xwy1zi.78v_Gk" />
            <ComponentRef Id="cmpKqjwKz7l_p5CeZijq50o509DE6M" />
            <ComponentRef Id="cmpngA8wgVDozwF0AWNtkALalq0QsE" />
            <ComponentRef Id="cmpZt5H41TiTZ5sCcjnwDGtYR3D0ng" />
            <ComponentRef Id="cmpz0dxYB8Ui7E58hKb8jJHqaYZ9ds" />
            <ComponentRef Id="cmpCNrybvYcZyg9biOwDNCsOvTeJH8" />
            <ComponentRef Id="cmptdSYIkYNnp6Old1cUOra_lD1e.Q" />
            <ComponentRef Id="cmpfOXByGYq_.JVcWERO6aPhwuYKOM" />
            <ComponentRef Id="cmprokniBsdRNaegQJeh6oJOesiikc" />
            <ComponentRef Id="cmpG4XzxApqwg3L6GFqFg6GYqe5j80" />
            <ComponentRef Id="cmp2TxOD6_crKjaue9eth.o6lVI2ys" />
            <ComponentRef Id="cmpx7qZassHyg300R6V.mnxv2V__6I" />
            <ComponentRef Id="cmpNPLoTkoXBKckMNBz7cUnH90WtOY" />
            <ComponentRef Id="cmp.ihjyl8JD1V2ALI_vOPVJ.Vj15I" />
            <ComponentRef Id="cmpxC8w8WxwlUlGLKbl_9yUBvCH1ss" />
            <ComponentRef Id="cmplrBlfCcb5pRv9HzL72aIqOGztMQ" />
            <ComponentRef Id="cmp0IvXAyp1txnEOOr5nKhj1k446kg" />
            <ComponentRef Id="cmpNwZIMXix4J4aOzeu89XtUH5ykgE" />
            <ComponentRef Id="cmps6FgSoOmCUq4DlgVDuNiAPWAf9E" />
            <ComponentRef Id="cmpm5mD6CsoPm494fN2z1rWz10bQUQ" />
            <ComponentRef Id="cmpa3vNXtEUnvGAoeFmbp0RLUfD.QA" />
            <ComponentRef Id="cmpQ2FWUvCYL1Hfh5v.k06oPQjV4ic" />
            <ComponentRef Id="cmpw5ijXL59v.uWD6zrlVlM17UlBtg" />
            <ComponentRef Id="cmpYgutUUS04Eiuv9Xym._xq5vYHZw" />
            <ComponentRef Id="cmpsHf690kr9_s_PeD_3sTQmQcu2Ko" />
            <ComponentRef Id="cmphHDXCcIGJsEng1zHpyO9wyHCsKE" />
            <ComponentRef Id="cmpwcI4nl6rKxvS5ulKFdhic7t31KQ" />
            <ComponentRef Id="cmpXiCd8qts1Wvs6oKtylR_4Zs1SSA" />
            <ComponentRef Id="cmpB307gXPij0c11cKPVVHiAnnVGc0" />
            <ComponentRef Id="cmpEaPjAczRhgSpbAIvQsZ8BtFhSpM" />
            <ComponentRef Id="cmpsVaCMHGE.10RepHKgA8agIk6ZA4" />
            <ComponentRef Id="cmprBuODXWh_PjZrt.rZONsyHGy3hA" />
            <ComponentRef Id="cmpmMpq7R1oOf.Ese7T94ii63wHTug" />
            <ComponentRef Id="cmpiqk2zpxKrhmfxI53f6_ylynh0Hk" />
            <ComponentRef Id="cmpiY0RHiZunenjcF0u.yXs8b41Whg" />
            <ComponentRef Id="cmp_dd_MQoB5V3sWbYgd.NpaAnTacY" />
            <ComponentRef Id="cmp8UDhX6DXFAlLxYb8qzuJqLPm5.Y" />
            <ComponentRef Id="cmpVIxPauuURAi.tsN1AyzJ8sTtkVo" />
            <ComponentRef Id="cmpDB68.BYLzb8H.aqHtaoPwcUImig" />
            <ComponentRef Id="cmp.eW.aggtKOxO1lUFJfvIqrQvyjU" />
            <ComponentRef Id="cmpvQsoUtMvgnkHFw3YYP6Dl.EdKNE" />
            <ComponentRef Id="cmpBl1QbNgIfiM2XvlQM7oVhLEC2mk" />
            <ComponentRef Id="cmp2AOGgzY0o.62GESTlN00WeqU334" />
            <ComponentRef Id="cmpA3oYDi4yoqqRK._B..35XkEZ5zI" />
            <ComponentRef Id="cmpqiIJin_oQp2JUiTxfkUAEe2Gz4M" />
            <ComponentRef Id="cmpBWG8KQ8RNeGepsTbWVCRu6Sxbxc" />
            <ComponentRef Id="cmpYW0sHtLaQ.nYAr30nXPaUZcOy8I" />
            <ComponentRef Id="cmpwnxpghLFNol9oSjfsYpFnj59DpQ" />
            <ComponentRef Id="cmpYVbDUhx6MZAzqIAQfekBKFwdJXw" />
            <ComponentRef Id="cmpmJsD.EvomrU5UJPRVFjgqrFXoqM" />
            <ComponentRef Id="cmpVCYpSMFhSwZSAHoztYSAHixfJ8g" />
            <ComponentRef Id="cmpUEVtVP3lD5xyJuQjIPpX.rsenjs" />
            <ComponentRef Id="cmpS3nxYiEVMgTf4T3aH.hJpS4DHVc" />
            <ComponentRef Id="cmpNwYSqeFPF3wNGBp422kXBIj120k" />
            <ComponentRef Id="cmpKPp2o3K_AxTa2uTO76o09pzLkj8" />
            <ComponentRef Id="cmpwWfsqLant9xtyGhqrGSgJf3GN8w" />
            <ComponentRef Id="cmp0l0V5bGvG2kWO8bHh6Gq9CyOVKE" />
            <ComponentRef Id="cmpQ1KwJXG6GxRIJ_UGUMOh.z1dITg" />
            <ComponentRef Id="cmpGx9udB_mc1uhQzTVC1QvyWdcuZk" />
            <ComponentRef Id="cmpfCMM4x2IuV8CHCw6bTJ2KK4QE_U" />
            <ComponentRef Id="cmpGfbbuPTcI6xvUV5P95fGKDOuUVc" />
            <ComponentRef Id="cmp1DJWnmZgJRwPGYZ1lls5N4y29pk" />
            <ComponentRef Id="cmpdthXrXRiAa_1ADL_WWRkWgwySZg" />
            <ComponentRef Id="cmpe4tZZzl7nplXvID2j37meXEu0yA" />
        </ComponentGroup>
    </Fragment>
</Wix>