<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="Obs17livePlugin" Directory="INSTALLFOLDER">
      <Component>
        <File Source="C:\Users\profi\yzz\obs-17live\build_x64\Release\obs-17live.dll" />
      </Component>
		<Component>
			<File Source="C:\Users\profi\yzz\obs-17live\build_x64\Release\obs-17live.pdb" />
		</Component>
	</ComponentGroup>
  </Fragment>
</Wix>
