<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="$(PackageName)" Name="$(PackageName)" Manufacturer="$(Manufacturer)" Version="$(Version)" UpgradeCode="$(UpgradeCode)">
	<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="Obs17livePlugin" />
		<ComponentGroupRef Id="Obs17livePluginData" />
    </Feature>

  </Package>
</Wix>
