<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Obs17LivePluginInstaller" Manufacturer="17Live Limited" Version="0.3.0.0" UpgradeCode="b81d9705-e5b2-475f-8de8-4d02d297c073">
	<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="Obs17livePlugin" />
		<ComponentGroupRef Id="Obs17livePluginData" />
    </Feature>

  </Package>
</Wix>
